# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# SQLite database
*.sqlite
*.db

# IDE / Editor files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
